.submit-post-title {
  text-align: center;
}

.post-submit-module {
  margin: 1em 25%;
}

.message-post-button {
  float: right;
  margin-top: 1em;
}

.cancel-post-button {
  float: right;
  margin-top: 1em;
}

.posts {
  margin: 1em 25%;
}

@media(max-width: 900px) {
  .jumbo {
    margin: 1em 0;
  }
}
